h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Indie Flower' !important;*/
    font-family: 'PT Sans', sans-serif;
}
p, div {
    /*font-family: 'Indie Flower' !important;*/
    font-family: 'PT Sans', sans-serif;
}
#jumb{
  background-color: #262626;

}
#spiral{

}
#name{
  color: #7ccbec;
  font-size: 75px;

}
#subHead{
  color: #7ccbec;

}
body{
  /*background: gray;*/
  background-color: #1179ac;
  /*background: url(https://static.pexels.com/photos/355887/pexels-photo-355887.jpeg;*/
  background-repeat:no-repeat;
}

#statConsulLI{
  font-size: 1.25em;
  font-weight: bold;
}

#cplusplusLI{
  font-size: 1.25em;
  font-weight: bold;
}

#pythonWarLI{
  font-size: 1.25em;
  font-weight: bold;
}

#jsConnectLI{
  font-size: 1.25em;
  font-weight: bold;
}

#jsTicTacLI{
  font-size: 1.25em;
  font-weight: bold;
}

#skillsUL{
  color: #7ccbec;
  font-size: 1.5em;
  text-align: left;
}

#homebut{
  color: #7ccbec;
}


#jumb2{
  background-color: #262626

}
#line-chart{
  background-color: #262626;


}
#contain{
  height: 800x;

  font-family: 'Indie Flower' cursive;

}
#about{
  color: #7ccbec;
}
#aboutPar{
  color: #7ccbec;
  font-size: 1.5em;
}

#aboutPar2{
  color: #7ccbec;
  font-size: 1.5em;
}

#aboutPar3{
  color: #7ccbec;
  font-size: 1.5em;
}
#skills{
  color: #7ccbec;
}

#skillsPar{
  color: #7ccbec;
  font-size: 1.25em;
}
#foot{
  background-color: #262626;
  color: #7ccbec;
}
